section.lk
{
    padding: 0;
    background: #f1fafd;
    min-height: 100vh;

    .container 
    {
        max-width: 1450px;
        position: relative;
    }

    .content 
    {
        display: grid;
        grid-template-columns: 980px 440px;
        flex-wrap: wrap;
        width: 100%;
    }

    .page 
    {
        .content 
        {
            /*
            display: grid;
            grid-template-columns: 300px calc(100% - 300px);
            */
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: flex-start;
            transition: 0.5s;
        }

        .col-wrapper
        {
            /*
            display: grid;
            grid-template-columns: 680px 440px;
            */

            display: flex;
            width: calc(100% - 300px);
            transition: 0.5s;
            position: relative;
            z-index: 5;

            .col.first 
            {
                padding: 0 25px;
                width: 695px;
                position: relative;
                transition: 0.5s;
            }
            
            .col.second 
            {
                padding-left: 35px;
                position: relative;
                z-index: 5;
                width: 425px;
            }
        }
    }

    


    .navbar 
    {
        display: flex;
        align-items: center;
        padding: 40px 0;
        width: 100%;

        .col 
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .search-block input
        {
            border-color: #354c55;
            color: #354c55;
        }

        .search-block input::placeholder
        {
            color: #354c55;
        }

        .search-block:after
        {
            background: url(~assets/images/icons/search_black.png);
        }
    }

    .notification:hover
    {
        background-color: #ddeff5;
    }

    .notification 
    {
        width: 20px;
        height: 21px;
        background: url(~assets/images/icons/notification.png);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        position: relative;
        padding: 5px;
        box-sizing: content-box;
        border-radius: 50%;
        transition: 0.3s;
    }

    .notification.active:after
    {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #e9a568;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .side 
    {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;

        h1 
        {
            font-size: 30px;
        }

        h2 
        {
            font-size: 20px;
            margin-bottom: 25px;
            margin-top: 0;
        }

        .col.first
        {
            width: 30%;
        }

        .col.second
        {
            width: 70%;
            padding: 0 25px;
        }
    }

    .side:nth-child(2)
    {
        padding-left: 35px;
        flex-direction: column;
        position: relative;
        z-index: 5;
    }
    /*
    .side:nth-child(2):after
    {
        content: '';
        position: fixed;
        width: 35vw;
        height: 100%;
        z-index: -1;
        background: #fff;
        top: 0;
        right: 0;
    }
    */
    .menu 
    {
        display: flex;
        flex-direction: column;

        .support 
        {
            margin-top: 40px;
        }
    }

    .progress-wrapper 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .item:hover 
        {
            .img img 
            {
                transform: translate(-50%, -50%) scale(1.1)
            }
        }

        .item:last-child
        {
            margin-bottom: 0;
        }

        .item 
        {
            width: 100%;
            display: grid;
            grid-template-columns: 150px calc(100% - 150px);
            border-radius: 10px;
            background: #fff;
            overflow: hidden;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
            margin-bottom: 15px;

            .img 
            {
                height: 100%;
                position: relative;
                overflow: hidden;

                img 
                {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s;
                    max-width: 500px;
                }
            }

            .desc 
            {
                padding: 15px;

                .wrapper 
                {
                    .tag 
                    {
                        font-size: 14px;
                        font-weight: 800;
                        padding: 0 20px;
                        height: 25px;
                        display: inline-flex;
                        align-items: center;

                        margin-right: 15px;
                    }

                    .progress
                    {
                        height: 25px;
                        width: 115px;
                        background: #ddeff5;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        color: #354c55;
                        font-size: 14px;
                        font-weight: 800;
                        position: relative;
                        overflow: hidden;

                        span 
                        {
                            position: relative;
                            z-index: 5;
                        }

                        .bg 
                        {
                            position: absolute;
                            height: 100%;
                            width: 28%;
                            left: 0;
                            top: 0;
                            background: #f2d3b7;
                        }
                    }
                }
            }
        }
    }

    .block 
    {
        margin-bottom: 40px;
        width: 100%;

        .item-title 
        {
            font-size: 14px;
            font-weight: 800;
            color: #354c55;
        }

        .name 
        {
            font-size: 13px;
            color: #8c8c8c;
            margin: 10px 0;
        }

        .icon
        {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            background-color: #fff;
            position: relative;
        }
    }

    .webinar-wrapper 
    {
        .item:last-child
        {
            margin-bottom: 0;
        }
        .item 
        {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .item-title 
            {
                font-size: 14px;
            }

            .desc 
            {
                padding-left: 15px;
            }

            .wrapper 
            {
                display: flex;
                align-items: center;
            }

            .date 
            {
                font-size: 13px;
                color: #c07d40;
                margin-right: 10px;
            }

            .name 
            {
                margin-right: 10px;
            }

            .tag 
            {
                font-size: 13px;
                font-weight: 400;
                padding: 3px 15px;
                min-width: 190px;
                text-align: center;
            }

            .tag.course 
            {
                background: #f2d3b7;
                color: #b86a23;
            }
        }

        .icon.course 
        {
            background: url(~assets/images/icons/webinar-course.png);
            background-color: #f2d3b7;
            background-position: center;
            background-repeat: no-repeat;
        }

        .icon.free 
        {
            background: url(~assets/images/icons/webinar-free.png);
            background-color: #80a6b4;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .results-wrapper 
    {
        .item:last-child
        {
            margin-bottom: 0;
        }
        .item 
        {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .desc 
            {
                padding-left: 15px;
            }

            .wrapper 
            {
                display: flex;
                align-items: center;
            }

            .date 
            {
                font-size: 13px;
                color: #8c8c8c;
                margin-left: 5px;
            }

            
        }

        .icon:after 
        {
            position: absolute;
            width: 30px;
            height: 30px;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
            border-radius: 50%;
            border: 2px solid black;
        }

        .icon.one 
        {
            background: #fbd6d9;
        }

        .icon.one:after 
        {
            content: '1';
            color: #bd5e69;
            border-color: #bd5e69;
        }

        .icon.two 
        {
            background: #fbf3f1;
        }

        .icon.two:after 
        {
            content: '2';
            color: #ff808b;
            border-color: #ff808b;
        }

        .icon.three 
        {
            background: #f8f7ec;
        }

        .icon.three:after 
        {
            content: '3';
            color: #e9a568;
            border-color: #e9a568;
        }

        .icon.four 
        {
            background: #ecf6f8;
        }

        .icon.four:after 
        {
            content: '4';
            color: #80a6b4;
            border-color: #80a6b4;
        }

        .icon.five 
        {
            background: #ebf8d0;
        }

        .icon.five:after 
        {
            content: '5';
            color: #9ebd5e;
            border-color: #9ebd5e;
        }
    }

    .recomendation
    {
        .wrapper
        {
            display: grid;
            grid-template-columns: repeat(3, 32%);
            justify-content: space-between;

            .course-card
            {
                .img 
                {
                    height: 145px;

                    span 
                    {
                        font-size: 12px;
                    }
                }

                .desc 
                {
                    padding: 10px;
                    background: #fff;
                    .name 
                    {
                        font-size: 12px;
                        color: #354c55;
                        margin: 0;
                    }

                    .lectors
                    {
                        margin: 5px 0;
                    }

                    .btn-wrapper 
                    {
                        justify-content: flex-start;
                        margin: 0;
                        button 
                        {
                            padding-left: 10px;
                            padding-right: 10px;
                            font-size: 12px;
                            height: 25px;
                        }
                    }
                }
                
            }
        }
        
        .btn-wrapper 
        {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
}

.user-info 
{
    padding: 40px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    .btn-lk:hover 
    {
        .wrapper 
        {
            opacity: 1;
            pointer-events: all;
        }
    }

    .user 
    {
        .btn-lk 
        {
            display: flex;
            align-items: center;
            border: none;
            background: none;
            position: relative;
            padding: 0 55px;
            background: #fdf6ef;
            text-align: center;
            font-size: 15px;
            font-family: 'OpenSans';
            color: #354c55;
            height: 40px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            .btn-wrapper 
            {
                min-width: 150px;
            }
            

            .avatar 
            {
                border-radius: 50%;
                max-width: 47px;
                max-height: 47px;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .btn-lk:after 
        {
            content: '';
            width: 16px;
            height: 8px;
            background: url(~assets/images/icons/right_blue.png);
            position: absolute;
            right: 20px;
            top: 2px;
            bottom: 0;
            margin: auto;
        }  
        
        .score 
        {
            font-size: 13px;
            text-align: center;
            margin-top: 5px;
        }
        
    }

    .wrapper 
    {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: #f1fafd;
        z-index: 20;
        padding: 15px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        pointer-events: none;
        opacity: 0;
        top: 100%;
        left: 0;

        .btn-menu:last-child
        {
            margin-bottom: 0;
        }
    }
}

.user-info.mobile 
{
    .btn-lk:after
    {
        content: none;
    }

    .wrapper 
    {
        width: 300px;
        left: 100%;
        top: initial;
        bottom: 0;
    }
    
}

.btn-menu
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 50px;
    padding: 15px;
    position: relative;
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    overflow: hidden;
    
    .icon 
    {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 10px;
    }

    span 
    {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
    }
}

.btn-menu.active
{
    background: #354c55;
    color: #fff;

    .icon 
    {
        filter: brightness(100)
    }
}

.btn-menu:hover, .btn-menu.hover
{
    background: #80a6b4;
    color: #fff;

    .icon 
    {
        filter: brightness(100)
    }
}

.calendar 
{
    width: 100%;
    .title-row
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        margin-bottom: 25px;

        .btn-wrapper 
        {
            button 
            {
                width: 30px;
                height: 30px;
                border: none;
                background-position: center;
                background-repeat: no-repeat;
                background-color: inherit;
                border-radius: 50%;
                transition: 0.3s;
                opacity: 0.5;
            }

            button:hover 
            {
                background-color: #ddeff5;
                opacity: 1;
            }

            .prev 
            {
                background-image: url(~assets/images/icons/prev.png);
            }

            .next 
            {
                background-image: url(~assets/images/icons/next.png);
            }
        }
    }

    .numbers 
    {
        display: grid;
        grid-template-columns: repeat(7, 32px);
        grid-auto-rows: 32px;
        grid-row-gap: 10px;
        grid-column-gap: 30px;

        button 
        {
            background: none;
            border: none;
            font-family: 'OpenSans';
            font-size: 14px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
            border-radius: 50%;
            transition: 0.3s;
        }

        button.current 
        {
            opacity: 1;
        }

        button.active 
        {
            opacity: 1;
            border: 2px solid #f2d3b7;
        }

        button:hover 
        {
            background: #354c55;
            color: #fff;
            border-color: #354c55; 
        }
    }
}

.journal.block 
{
    .item:last-child
    {
        margin-bottom: 0;
    }
    .item 
    {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        font-size: 13px;
        margin-bottom: 15px;
        background: #fff;

        .item-title
        {
            font-size: 13px;
        }

        .row 
        {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
            
            .wrapper 
            {
                padding-left: 10px;
            }
        }

        .text 
        {
            color: #8c8c8c;
        }

        .date 
        {
            color: #b86a23
        }
    }
}

.achievements.block 
{
    .item-wrapper 
    {
        display: flex;
        flex-direction: column;

        .item:last-child
        {
            margin-bottom: 0;
        }

        .item
        {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .wrapper 
            {
                padding-left: 10px;

                .item-title 
                {
                    font-size: 17px;
                }

                .text 
                {
                    font-size: 13px;
                    color: #838383;
                }
            }
        }
    }
}

section.lk .user-info.mobile
{
    display: none;
}

section.lk .support .notification
{
    display: none;
}

section.lk .bg-white
{
    width: 35vw;
    height: 100%;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 0;
    transition: 0.5s;
}

section.lk .bg-white.hide 
{
    opacity: 0;
}

.courses-wrapper 
{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-auto-rows: auto;
    grid-gap: 20px;
    padding-bottom: 40px;
}

.full-page
{
    position: relative;
    z-index: 1;
    width: calc(100% - 300px);
    transition: 0.5s;
    padding-bottom: 60px;
}

.header 
{
    position: relative;
    z-index: 10;
}

.vm--block-scroll .header 
{
    z-index: 5;
}

.menu-wrapper 
{
    padding-right: 40px;
    position: relative;
    width: 300px;
    transition: 0.5s;

    .hide-menu 
    {
        width: 18px;
        height: 60px;
        background: #80a6b4;
        border-radius: 5px;
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        opacity: 0.5;
        transition: 0.3s;
    }

    .hide-menu:hover 
    {
        opacity: 1;
    }

    .hide-menu:after 
    {
        content: '';
        width: 3px;
        height: 30px;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-140%, -50%);
        border-radius: 5px;
    }

    .hide-menu:before 
    {
        content: '';
        width: 3px;
        height: 20px;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        border-radius: 5px;
    }
}

.card 
{
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}

.input-wrapper.error, .course-name.error
{
    color: #a90808;

    input, textarea
    {
        border-color: #f1b2b2;
    }
}

.input-wrapper .msg 
{
    font-size: 13px;
}

.input-wrapper
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label 
    {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    input 
    {
        height: 35px;
        border: 1px solid #dedede;
        padding: 0 10px;
        font-family: 'OpenSans';
    }

    .btn 
    {
        display: inline-flex;
    }
}

.select-wrapper 
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    label 
    {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    select 
    {
        height: 35px;
        border: 1px solid #dedede;
        padding: 0 10px;
        font-family: 'OpenSans';
    }
}
.page-edit
{
    .card 
    {
        justify-content: space-between;

        .input-wrapper 
        {
            width: 48%;
        }

        .btn-wrapper 
        {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;

            img 
            {
                margin-right: 10px;
            }
        }
    }

    .info.block 
    {
        padding-top: 20px;

        h2 
        {
            margin-bottom: 40px;
        }
    }
    .user 
    {
        width: 100%;
        display: flex;
        align-items: center;
        background: #fdf6ef;
        padding: 15px 120px;
        position: relative;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        
        .avatar 
        {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            left: 0;
        }

        .wrapper 
        {
            display: flex;
            flex-direction: column;
        }

        span 
        {
            font-size: 24px;
            color: #354c55;
        }

        span.type 
        {
            font-size: 14px;
        }
    }
}

.page-referral 
{
    b 
    {
        margin-bottom: 15px;
        display: block;
    }

    .score 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .value 
        {
            background: #354c55;
            color: #fff;
            padding: 10px 25px;
            font-size: 42px;
            font-weight: 600;
            border-radius: 15px;
            margin-bottom: 20px;

            small 
            {
                font-size: 21px;
            }
        }

        .btn 
        {
            margin-bottom: 20px;
        }
    }
}

.btn.blue 
{
    padding: 15px 25px;
    color: #fff;
    background: #80a6b4;
    border: none;
    height: auto;
    min-height: 43px;
    img 
    {
        margin-left: 10px;
    }
}

.page-add-course 
{
    .add-block 
    {
        display: flex;
        justify-content: center;

        .btn 
        {
            padding: 0 15px;
        }
    }
    .card 
    {
        padding: 25px 50px;
    }
    .course-name 
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        textarea 
        {
            width: 100%;
            font-family: 'OpenSans';
            padding: 15px;
            margin-top: 15px;
        }
    }

    .couse-info 
    {
        margin-top: 30px;

        .input-wrapper 
        {
            margin-bottom: 10px;

            .cover 
            {
                width: 350px;
                height: 350px;
                margin: auto;

                img 
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .date-wrapper
        {
            min-width: 100%;
            margin-bottom: 10px;

            .date 
            {
                background: #fff;
                min-height: 35px;
            }

            label 
            {
                font-weight: 600;
            }
        }

        .btn-wrapper 
        {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
    }

    .course-bloks
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 25px 35px;

        .btn-wrapper 
        {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            width: 100%;
            margin-bottom: 20px;

            .btn, .btn.blue
            {
                min-width: auto;
                padding: 0 15px;
                font-size: 14px;
                height: 35px;
                min-height: 35px;
                min-width: 120px;
            }
        }

        .module-wrapper 
        {
            width: 100%;

            .btn-wrapper 
            {
                justify-content: space-between;
                margin: 0;

                .wrapper 
                {
                    display: flex;
                }

                .wrapper.arrows 
                {
                    .btn 
                    {
                        min-width: auto;
                    }
                }
            }

            .options 
            {
                padding: 10px 0;
                border-top: 1px solid #ededed;
            }

            .options:last-child 
            {
                border-bottom: 1px solid #ededed;
            }

            b 
            {
                font-size: 15px;
            }
        }

        .options 
        {
            width: 100%;

            .btn.blue 
            {
                margin-left: 20px;
            }
        }

        .input-wrapper 
        {
            width: 100%;
            margin-bottom: 10px;

            .input 
            {
                position: relative;
            }

            input 
            {
                padding-right: 20px;
                width: 100%;
            }

            .input:after 
            {
                content: '';
                position: absolute;
                width: 13px;
                height: 13px;
                background: url(/assets/images/icons/editing.png);
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

section.lk .page .col-wrapper .col.first.page-users 
{
    padding: 0 20px;
}

.filters-input 
{
    margin-top: 20px;
    .filter 
    {
        height: 30px;
        padding: 0 10px;
        font-family: 'OpenSans';
        border: 1px solid #dedede;
        color: #50646c;
        margin-right: 10px;
    }

    .filter::placeholder 
    {
        color: #50646c;
    }
    
}
.filters-radio 
{
    display: flex;
    justify-content: space-between;
    
}

.radio 
{
    font-size: 13px;
    font-weight: 700;
    margin-right: 0;
}
.radio .checkmark
{
    border-radius: 4px;
    background: none;
    border: 1px solid #dedede;
}

.radio input:checked ~ .checkmark
{
    background: #80a6b4;
    border: 1px solid #80a6b4;

}

.radio .checkmark:after
{
    border-radius: 0;
    width: 5px;
    height: 5px;
    background: #fff;
}

.disable 
{
    filter: grayscale(100);
    pointer-events: none;
}

.page-users
{
    .table 
    {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        grid-gap: 5px;
        padding: 20px 0;

        .item:hover 
        {
            box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.4);
        }

        .item 
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            padding: 5px 10px;
            background: #fff;
            box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.1);
            transition: 0.3s;
            cursor: pointer;

            .name 
            {
                font-size: 14px;
                font-weight: 700;
                color: #354c55;
            }

            .role 
            {
                font-size: 12px;
                background: #80a6b4;
                color: #fff;
                padding: 3px 10px;
                border-radius: 15px;
            }

            .role.educator 
            {
                background: #6CC277;
            }

            .role.admin 
            {
                background: #B41066;
            }
        }
    }

    .navs 
    {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #354c55;
        margin-bottom: 40px;

        span 
        {
            margin: 5px;
        }

        span.active 
        {
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.edit-user 
{
    width: 100%;
    
    .btn-wrapper 
    {
        .btn.blue 
        {
            margin-left: 15px;
        }
    }
}

.center
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card 
{
    .row 
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .input-wrapper, .select-wrapper 
    {
        width: 48%;
    }
}

.vm--modal.dialog 
{
    background: none;
    border-radius: 0;
    box-shadow: none;
    overflow: initial;
}

.page-events .calendar.block 
{
    .vc-container 
    {
        background: none;
    }

    .vc-title
    {
        font-size: 30px;
    }

    .vc-weekday, .vc-day-content
    {
        font-size: 20px;
    }

    .vc-weeks 
    {
        grid-column-gap: 56px;
        justify-content: center;
    }
    
} 

.callback.block 
{
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 
    {
        width: 100%;
        text-align: center;
    }
}

section.lk .page .col-wrapper .col.second .col.second 
{
    padding-left: 0;
}

section.lk .page .col-wrapper .col.second .recomendation
{
    display: none;
}

.card.course-block
{
    .center 
    {
        margin-top: 20px;
    }
    
    h3 
    {
        text-align: center;
        width: 100%;
        font-size: 16px;
        margin-bottom: 30px;
    }
}

.file 
{
    padding: 10px;
    padding-left: 30px;
    padding-right: 15px;
    border: none;
    background: #354c55;
    color: #fff;
    font-family: 'OpenSans';
    position: relative;

}

.file:after 
{
    content: '';
    background: url(/assets/images/icons/attachment.png);
    width: 14px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 10px;
}

.date-row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

    .wrapper 
    {
        display: flex;

        .date-wrapper
        {
            margin-right: 15px;
        }
    }
}

section.lk .page .content.hide-menu
{
    grid-template-columns: 90px calc(100% - 90px);

    .menu-wrapper
    {
        width: 90px;
        
        .btn-menu
        {
            width: 50px;
            height: 50px;

            span 
            {
                opacity: 0;
                transition-property: opacity;
                transition-duration: 0.0s;
                transition-delay: 0.0s;
            }
        }
    }

    .col-wrapper
    {
        width: calc(100% - 90px);

        .col.first 
        {
            width: 905px;
        }
    }

    .full-page
    {
        width: calc(100% - 90px);
    }
}

.journal.block .title-wrapper 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn.sm
{
    padding: 5px 10px;
    min-width: auto;
    font-size: 14px;
    min-height: 30px;
    font-weight: 600;
    height: initial;
}

.test-wrapper 
{
    display: flex;
    flex-direction: column;
    width: 100%;

    .radio 
    {
        padding: 20px;
        padding-left: 40px;
        font-weight: 400;
        width: 100%;
        border-radius: 10px;

        .checkmark
        {
            left: 12px;
        }
    }

    .radio:hover 
    {
        background: #f0f0f0;
    }
}

.page-support 
{
    .btn-wrapper 
    {
        display: flex;
        justify-content: flex-end;
    }
}
.question-item 
{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 30px;
    overflow: hidden;

    .question
    {
        font-size: 24px;
        font-weight: 600;
        padding-right: 30px;
        position: relative;
        padding: 25px;
        padding-right: 50px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.0);
        transition: 0.5s;
        cursor: pointer;
    }

    .question.active 
    {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
    }

    .question:after 
    {
        content: '';
        width: 16px;
        height: 8px;
        background: url(~assets/images/icons/right_blue.png);
        position: absolute;
        right: 25px;
        top: 2px;
        bottom: 0;
        margin: auto;
        transition: 0.5s;
    }

    .question.active:after 
    {
        transform: rotate(180deg);
    }

    .answer-wrapper
    {
        height: 0;
        overflow: hidden;
        transition: 0.5s;

        .answer 
        {
            padding: 25px;
        }
    }
}

.page-course-detail .detail .item .type
{
    text-align: center;
}

.page-test 
{
    .card
    {
        width: 100%;
    }

    .counter 
    {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    h3 
    {
        font-size: 16px;
        width: 100%;
        text-align: center;
        padding: 0 100px;
        margin-bottom: 40px;
    }

    

    .center 
    {
        margin-top: 20px;
        .btn 
        {
            margin: 5px;
        }
    }
}

.page-test-result
{
    .result.red 
    {
        color: #b40606;
    }

    .result.green 
    {
        color: #017f01;
    }

    .result 
    {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .question
    {
        width: 100%;
        span.text 
        {
            padding-left: 40px;
            display: block;
            position: relative;
        }

        .test-wrapper 
        {
            margin-top: 20px;
            margin-bottom: 10px;

            .correct 
            {
                color: #017f01;
            }
        }

        span.wrong:after 
        {
            content: '';
            width: 19px;
            height: 19px;
            background: url(/assets/images/icons/close.png);
            position: absolute;
            left: 5px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        span.correct:after 
        {
            content: '';
            width: 22px;
            height: 16px;
            background: url(/assets/images/icons/done.png);
            position: absolute;
            left: 5px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .input-wrapper
    {
        width: 100%;
        textarea 
        {
            width: 100%;
            resize: none;
            min-height: 200px;
            border-radius: 0;
            border: 1px solid #dedede;
            padding: 10px;
            font-family: 'OpenSans';
        }

        textarea:focus 
        {
            outline: none;
        }
    }

    h3 
    {
        width: 100%;
        text-align: center;
        font-size: 16px;
        padding: 0 100px;
        margin-bottom: 40px;
    }

    .counter
    {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .item 
        {
            display: flex;
            flex-direction: column;
            align-items: center;

            span 
            {
                font-size: 18px;
                font-weight: 700;
            }

            b 
            {
                font-size: 24px;
            }
        }

        .wrong 
        {
            span 
            {
                color: #b40606;
            }
        }

        .correct 
        {
            span 
            {
                color: #017f01;
            }
        }
    }

    h2 
    {
        width: 100%;
        text-align: center;
        margin: 40px 0;
    }
}

.card.homework-block
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3 
    {
        font-size: 18px;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }

    h4 
    {
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin-top: 5px;

        b 
        {
            color: #80a6b4;
        }
    }

    .desc 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        b 
        {
            margin-bottom: 5px;
        }
    }
    .answer
    {
        padding: 20px;
        border: 1px solid #ededed;
        width: 100%;
        min-height: 150px;
    }

    .block-wrapper 
    {
        width: 100%;
        margin-top: 10px;

        label 
        {
            font-size: 14px;
            margin-bottom: 5px;
            display: block;
        }
    }

    .results-wrapper
    {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px 0;
        .icon 
        {
            margin: 5px;
            filter: grayscale(100%);
            cursor: pointer;
            transition: 0.3s;
        }

        .icon:hover 
        {
            filter: grayscale(0%);
        }
    }
}

.calendar.popover .vc-container .vc-weeks
{
    grid-template-columns: repeat(7, 32px);
    grid-auto-rows: 32px;
    grid-row-gap: 10px;
    grid-column-gap: 17px;
}

.calendar.popover .vc-popover-content 
{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.calendar.popover .vc-container .vc-header
{
    padding: 25px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.calendar.popover .vc-weeks
{
    padding: 20px;
    padding-top: 0;
}

.calendar.popover .vc-arrows-container
{
    top: 15px;
}

.calendar.popover .vc-highlights
{
    border-radius: 50%;
    background: #ededed;
}

.calendar.popover .vc-highlights ~ span 
{
    font-weight: 700;
}

.calendar.popover .date-wrapper 
{
    display: flex;
    flex-direction: column;
    width: 155px;

    label 
    {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .date 
    {
        display: flex;
        padding: 0 5px;
        border: 1px solid #dedede;
        height: 30px;
        align-items: center;

        button 
        {
            border: none;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input 
        {
            border: none;
            color: #8b8b8b;
            font-family: 'OpenSans';
            width: 100%;
        }
    }
    
}

.page-add-course .question
{
    width: 100%;

    .btn-wrapper 
    {
        justify-content: right;

        .add-question
        {
            margin-right: auto;
        }
    }
}

.answer-wrapper 
{
    .answer 
    {
        margin: 30px 0;
        .input-wrapper 
        {
            flex-wrap: wrap;
            flex-direction: initial;

            .answer-title
            {
                width: 100%;
            }

            .text 
            {
                width: 95%;
            }

            .radio
            {
                width: 5%;
                margin: 0;
                padding: 0;

                input 
                {
                    width: 0;
                    height: 0;
                }

                .checkmark
                {
                    left: initial;
                    right: 0;
                }
            }
        }
    }
}


.required
{
    color: #a90808;
    display: inline-block;
    margin-left: 5px;
}

#picture-input
{
    z-index: 0;
}